<backgroung-particles></backgroung-particles>
<app-header></app-header>

<div class="about">
    <mat-card class="main-card" appearance="outlined">
      <button class="home-btn" [routerLink]="'/'">
        <i class="fa-solid fa-house"></i>
      </button>
    <mat-card-header>
      <img
        mat-card-avatar
        src="../../assets/foto-perfil.jpeg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-title>Cadu_Lopes</mat-card-title>
      <mat-card-subtitle>Sobre mim</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../../assets/foto-perfil-2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title><b>Descrição</b></mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Sou um desenvolvedor apaixonado por criar experiências digitais que
            aliam design responsivo, estética moderna e usabilidade intuitiva.
            Valorizo as boas práticas de desenvolvimento, como código limpo e
            reutilizável, para garantir a escalabilidade e a longevidade dos
            projetos.
          </p>
          <p>
            Iniciei minha carreira como desenvolvedor em 2020, dedicando-me ao
            desenvolvimento web freelancer e acumulando uma base sólida em
            tecnologias frontend e backend. Desde o início de 2024, tenho
            trabalhado na Minsait em contrato com o Banco do Brasil, onde atuo
            principalmente com Angular e Node.js para criar aplicações robustas
            e seguras, as quais são responsáveis por movimentar mais de 1
            trilhão de reais anualmente.
          </p>
          <p>
            Em agosto de 2024, conclui minha graduação em Automação Industrial
            no Instituto Federal de Brasília, onde desenvolvi uma visão ampla
            sobre sistemas integrados, lógica de controle e tenologias de
            automação, habilidades que enriqueceram minha abordagem no
            desenvolvimento de software.
          </p>
          <p>
            Além disso, possuo experiência com Next.js e React no frontend e
            Express e PostgreSQL no backend, desenvolvendo soluções completas e
            integradas. Sempre priorizo entregar produtos finais que não apenas
            atendam às expectativas técnicas, mas que sejam visualmente
            agradáveis, responsivos e funcionais em diversas plataformas e
            dispositivos.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="animar()">LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <!-- 
  <button (click)="animar()">animar</button> -->
  <!-- Descrição detalhada que será adicionada no menu 'Sobre' -->
  <!-- <div class="title-line">
    <h2 class="title">SOBRE</h2>
    <div class="line"></div>
  </div>

  

  <div class="img-text">
    
  </div> -->

  <div>
    <canvas
      #spaceCanvas
      class="fundo-chuva"
      id="spaceCanvas"
      width="1000px"
      height="1000px"
    ></canvas>
  </div>
</div>
