<div class="projects">
  <div class="title-line">
    <div class="line-L"></div>
    <h2>PROJETOS</h2>
    <div class="line-R"></div>
  </div>
  <div class="projects-section">
    <h4>Profissionais</h4>
    <div class="projects-container">
      <article class="project-card">
        <img
          src="../../../../assets/contabilizador-backdrop.png"
          alt="raffle counter site image"
          width="{250}"
          height="{164}"
          priority
        />
        <div class="overlay">
          <span>Contabilizador de Rifas</span>
        </div>

        <div class="buttons-bar">
          <a
            href="https://github.com/CaduLopes87/contabilizador-de-rifas"
            target="_blank"
            class="bar-btn"
          >
            <i class="fa-brands fa-square-github fa-3x"></i>
          </a>
          <a
            href="https://contabilizador-de-rifas.vercel.app/"
            target="_blank"
            class="btn bar-btn access-btn"
            >Acesse</a
          >
        </div>
      </article>
      
      <article class="project-card">
        <img
          src="../../../../assets/contabilizador-backdrop.png"
          alt="raffle counter site image"
          width="{250}"
          height="{164}"
          priority
        />
        <div class="overlay">
          <span>Contabilizador de Rifas</span>
        </div>

        <div class="buttons-bar">
          <a
            href="https://github.com/CaduLopes87/contabilizador-de-rifas"
            target="_blank"
            class="bar-btn"
          >
            <i class="fa-brands fa-square-github fa-3x"></i>
          </a>
          <a
            href="https://contabilizador-de-rifas.vercel.app/"
            target="_blank"
            class="btn bar-btn access-btn"
            >Acesse</a
          >
        </div>
      </article>
      <article class="project-card">
        <img
          src="../../../../assets/contabilizador-backdrop.png"
          alt="raffle counter site image"
          width="{250}"
          height="{164}"
          priority
        />
        <div class="overlay">
          <span>Contabilizador de Rifas</span>
        </div>

        <div class="buttons-bar">
          <a
            href="https://github.com/CaduLopes87/contabilizador-de-rifas"
            target="_blank"
            class="bar-btn"
          >
            <i class="fa-brands fa-square-github fa-3x"></i>
          </a>
          <a
            href="https://contabilizador-de-rifas.vercel.app/"
            target="_blank"
            class="btn bar-btn access-btn"
            >Acesse</a
          >
        </div>
      </article>
    </div>

    <h4>Pessoais</h4>
    <div class="projects-box projects-container">
      <article class="project-card">
        <img
          src="../../../../assets/cult-review-backdrop.png"
          alt="cult review site image"
          width="{250}"
          height="{164}"
          priority
        />

        <div class="overlay">
          <span>Cult Review</span>
        </div>

        <div class="buttons-bar">
          <a
            href="https://github.com/CaduLopes87/cult-review"
            target="_blank"
            class="bar-btn"
          >
            <i class="fa-brands fa-square-github fa-3x"></i>
          </a>
          <a
            href="../../../../assets/cult-review-backdrop.png"
            target="_blank"
            class="btn bar-btn access-btn"
            >Acesse</a
          >
        </div>

      </article>
      <article class="project-card">
        <img
          src="../../../../assets/cult-review-backdrop.png"
          alt="cult review site image"
          width="{250}"
          height="{164}"
          priority
        />

        <div class="overlay">
          <span>Cult Review</span>
        </div>

        <div class="buttons-bar">
          <a
            href="https://github.com/CaduLopes87/cult-review"
            target="_blank"
            class="bar-btn"
          >
            <i class="fa-brands fa-square-github fa-3x"></i>
          </a>
          <a
            href="../../../../assets/cult-review-backdrop.png"
            target="_blank"
            class="btn bar-btn access-btn"
            >Acesse</a
          >
        </div>
      </article>
      <article class="project-card">
        <img
          src="../../../../assets/cult-review-backdrop.png"
          alt="cult review site image"
          width="{250}"
          height="{164}"
          priority
        />

        <div class="overlay">
          <span>Cult Review</span>
        </div>

        <div class="buttons-bar">
          <a
            href="https://github.com/CaduLopes87/cult-review"
            target="_blank"
            class="bar-btn"
          >
            <i class="fa-brands fa-square-github fa-3x"></i>
          </a>
          <a
            href="../../../../assets/cult-review-backdrop.png"
            target="_blank"
            class="btn bar-btn access-btn"
            >Acesse</a
          >
        </div>
      </article>
    </div>
  </div>
</div>
