<div id="projects-section" class="projects">
  <div class="title-line">
    <div class="line-L"></div>
    <h2>PROJETOS</h2>
    <div class="line-R"></div>
  </div>
  <section class="projects-section">
    <section>
      <h4>Profissionais</h4>
      <div class="projects-container">
        @for (projeto of listaProjetos.profissionais; track $index) {
        <article class="project-card">
          <img [src]="projeto.src" [alt]="projeto.alt" />

          <div class="overlay">
            <span>{{ projeto.nome }}</span>
          </div>

          <div class="buttons-bar">
            <a
              href=""
              target="_blank"
              class="bar-btn side-btn"
              (click)="animarIcone($event, 'fa-bounce', projeto.github_Link)"
              matTooltip="Repositório do Projeto"
              matTooltipPosition="above"
            >
              <i class="fa-brands fa-square-github fa-3x"></i>
            </a>
            <a
              class="bar-btn large-btn"
              (click)="
                [animarIcone($event, 'fa-bounce', ''), openDialog(projeto)]
              "
              matTooltip="Detalhes do Projeto"
              matTooltipPosition="above"
            >
              <i class="fa-solid fa-circle-info"></i>
            </a>
            <a
              [href]=""
              target="_blank"
              class="bar-btn side-btn large-btn"
              (click)="animarIcone($event, 'fa-bounce', projeto.projeto_Link)"
              matTooltip="Site do Projeto"
              matTooltipPosition="above"
            >
              <i class="fa-solid fa-share-from-square"></i>
            </a>
          </div>
        </article>
        }
      </div>
    </section>

    <section>
      <h4>Pessoais</h4>
      <div class="projects-box projects-container">
        @for (projeto of listaProjetos.pessoais; track $index) {
        <article class="project-card">
          <img
            [src]="projeto.src"
            [alt]="projeto.alt"
            width="{250}"
            height="{164}"
            priority
          />

          <div class="overlay">
            <span>{{ projeto.nome }}</span>
          </div>

          <div class="buttons-bar">
            <a
              [href]=""
              target="_blank"
              class="bar-btn side-btn"
              (click)="animarIcone($event, 'fa-bounce', projeto.github_Link)"
              matTooltip="Repositório do Projeto"
              matTooltipPosition="above"
            >
              <i class="fa-brands fa-square-github fa-3x"></i>
            </a>
            <a
              class="bar-btn large-btn"
              (click)="
                [animarIcone($event, 'fa-bounce', ''), openDialog(projeto)]
              "
              matTooltip="Detalhes do Projeto"
              matTooltipPosition="above"
            >
              <i class="fa-solid fa-circle-info"></i>
            </a>
            <a
              [href]="projeto.projeto_Link"
              target="_blank"
              class="bar-btn side-btn large-btn"
              (click)="animarIcone($event, 'fa-bounce', projeto.projeto_Link)"
              matTooltip="Site do Projeto"
              matTooltipPosition="above"
            >
              <i class="fa-solid fa-share-from-square"></i
            ></a>
          </div>
        </article>
        }
      </div>
    </section>
  </section>
</div>
