.timeline-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: var(--text-primary);

  h1 {
    font-size: large;
    margin-left: 8px;
  }

  .timeline {
    display: flex;
    padding-bottom: 32px;
    overflow-x: auto;
    scrollbar-width: none;
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;

    .timeline-item {
      .event {
        display: flex;
        align-items: flex-start;

        .event-icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 4px;
          width: 108px;
          margin-top: 4px;

          cursor: pointer;

          i {
            font-size: 40px;
            height: 50px;
          }

          .first-text {
            font-weight: 600;
          }

          .second-text {
            font-size: small;
            text-align: center;
            margin: 0;
            padding: 0;
          }
        }

        .line {
          width: 200px;
          height: 8px;
          margin-top: 28px;
          background-color: var(--primary-color);
          border-radius: 4px;
        }
      }
    }

    .event-icon:hover {
      scale: 1.15;
    }
  }

  @media (min-width: 768px) {
    width: 40vw;
    max-width: 950px;
    margin-top: 96px;

    .timeline {
      scrollbar-width: thin;
    }
  }
}
