<div class="tecnologies">
  <div class="title-line">
    <h2 class="title">TECNOLOGIAS</h2>
    <div class="line"></div>
  </div>
  <div class="tec-container">
    @for (tecnologia of listaTecnologias; track $index) {
    <article
      class="box-tec"
      (click)="animarComponente($event, 'fa-bounce')"
    >
      <i
        [ngClass]="'fa-brands ' + tecnologia.fa_icone"
        (click)="animarComponente($event, tecnologia.fa_classe_animacao)"
      ></i>
      <span> {{ tecnologia.nome }} </span>
    </article>
    }
  </div>
</div>
