<div class="about">
  <div class="title-line">
    <h2 class="title">SOBRE</h2>
    <div class="line"></div>
  </div>
  <p>
    Sou desenvolvedor web com foco em design responsivo, usabilidade e boas
    práticas de desenvolvimento, garantindo a criação de aplicações funcionais e
    esteticamente agradáveis. Tenho experiência profissional com Angular e
    Node.js, atuando na Minsait em contrato com o Banco do Brasil desde o início
    de 2024.
  </p>
  <span> Para me conhecer melhor, acesse o menu 'Sobre'! </span>

  <!-- Descrição detalhada que será adicionada no menu 'Sobre' -->
  <!-- <p>
    Sou um desenvolvedor apaixonado por criar experiências digitais que aliam
    design responsivo, estética moderna e usabilidade intuitiva. Meu foco é
    desenvolver soluções tecnológicas que sejam eficientes, de fácil manutenção
    e capazes de atender às necessidades do usuário final. Valorizo as boas
    práticas de desenvolvimento, como código limpo e reutilizável, para garantir
    a escalabilidade e a longevidade dos projetos.
  </p>
  <p>
    Em agosto de 2024, conclui minha graduação em Automação Industrial no
    Instituto Federal de Brasília, onde desenvolvi uma visão ampla sobre
    sistemas integrados, lógica de controle e tecnologias de automação,
    habilidades que enriqueceram minha abordagem no desenvolvimento de software.
  </p>
  <p>
    Iniciei minha carreira como desenvolvedor em 2020, dedicando-me ao
    desenvolvimento web freelancer e acumulando uma base sólida em tecnologias
    frontend e backend. Desde o início de 2024, tenho trabalhado na Minsait em
    contrato com o Banco do Brasil, onde atuo principalmente com Angular e
    Node.js para criar aplicações robustas e seguras, as quais são responsáveis
    por movimentar mais de 1 trilhão de reais anualmente.
  </p>
  <p>
    Além disso, possuo experiência com Next.js e React no frontend e Express e
    PostgreSQL no backend, desenvolvendo soluções completas e integradas. Sempre
    priorizo entregar produtos finais que não apenas atendam às expectativas
    técnicas, mas que sejam visualmente agradáveis, responsivos e funcionais em
    diversas plataformas e dispositivos.
  </p> -->
</div>
