.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 32px;
    margin-bottom: 64px;
    text-align: center;

    color: var(--text-primary);

    p {
        font-size: medium;
        margin: 8px 0 16px 0;
    }

    span {
        font-size: small;
    }

    @media (min-width: 768px) {
        align-items: flex-start;
        text-align: start;

        font-size: 1.2rem;

        margin-left: 0;
        
        p {
            font-size: larger;
            font-weight: 300;
            line-height: 32px;
            
            margin-top: 24px;
            margin-left: 32px;
            
            max-width: 900px;
        }

        span {
            align-self: flex-end;
            font-size: medium;
        }
        
        .title-line{
            display: flex;
            align-items: center;
            width: 100%;
        }

        .title {
            margin: 0;
        }

        .line {
            margin-left: 32px;
            height: 1px;

            width: 70%;
            background-color: var(--tertiary-color);
        }
    }
}