<section id="contact-section" class="contacts">
  <div class="title-line">
    <div class="line-L"></div>
    <h2>CONTATO</h2>
    <div class="line-R"></div>
  </div>

  <p>
    Gostou do meu trabalho? Estou à disposição para trazer sua ideia à vida!
    Entre em contato comigo e vamos planejar juntos um projeto que atenda às
    suas necessidades com excelência.
  </p>

  <form action="" class="contact-form">
    <div>
      <label htmlFor="Nome">Nome</label>
      <input
        type="text"
        name="nome"
        class="text-box"
        placeholder="Seu nome ou o da Empresa"
        required
      />
    </div>

    <div>
      <label htmlFor="email">Email</label>
      <input
        type="text"
        name="email"
        class="text-box"
        placeholder="Digite seu Email..."
        required
      />
    </div>

    <div>
      <label htmlFor="description">Descrição</label>
      <textarea
        name="description"
        class="text-box"
        rows="5"
        maxlength="500"
        placeholder="O que motiva o contato?"
        required
      ></textarea>
    </div>

    <button type="submit" class="btn form-btn" (click)="openDialog($event)">Enviar</button>
  </form>
</section>
