.body {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .top-page {
    display: flex;
    flex-direction: column;
    gap: 64px;
    overflow: hidden;
  }

  .end-page {
   align-self: center; 
  }

  @media (min-width: 768px) {
    gap: 196px;
    
    .top-page {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }
  }
}
